<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Meowpaw Daily Report</title>
<script type="text/javascript" src="jquery-1.11.3.min.js"></script>

<style type="text/css">
* {
	margin: 0;
	padding: 0;
}
body {
	line-height: 1.5em;
}
.report {
	display: none;
}
.date {
	text-indent: 1em;
}
.datebtn {
	display: block;
	cursor: pointer;
	background: #CCC;
	border-bottom: #000 solid 1px;
	border-right: #000 solid 1px;
	width:6em;
}
</style>
</head>

<body>
#content#
</body>
</html>
<script type="text/javascript">

	$('.datebtn').click(function(){
		
		$(this).parent().find('.report').toggle();
			
	});

</script>